# <font color='blue'>datapython</font>
## sprint 02-02 Variáveis

In [2]:
#Atribuindo o valor numérico inteiro 1 
#(com o operador de atribução =) à variável (referência) var_teste
var_teste = 1

In [4]:
var_teste

1

In [3]:
print(var_teste)

1

In [5]:
var_teste2

NameError: name 'var_teste2' is not defined

In [6]:
var_teste = 10

In [7]:
print(var_teste)

10

In [8]:
var_teste2 = var_teste

In [9]:
print(var_teste2)

10

In [10]:
var_teste = 20

In [11]:
print(var_teste)

20

In [12]:
print(var_teste2)

10

In [13]:
type(var_teste)

int

In [14]:
var_teste3 = 9.5

In [15]:
type(var_teste3)

float

In [16]:
#declaração múltipla
aluno1, aluno2, aluno3 = "Juliana", "Luciana", "Carol"

In [17]:
aluno1

'Juliana'

In [18]:
aluno2

'Luciana'

In [19]:
aluno3

'Carol'

In [20]:
var1 = var2 = var3 = 4

In [21]:
var1

4

In [22]:
var2

4

In [23]:
var3

4

In [24]:
var3 = 20

In [25]:
var3

20

In [26]:
var2

4

In [27]:
var1, var2, var3 = 4

TypeError: cannot unpack non-iterable int object

In [31]:
var2

4

In [32]:
x1 = 50

In [33]:
x1

50

In [34]:
1x = 50

SyntaxError: invalid syntax (<ipython-input-34-04af301f921c>, line 1)

In [35]:
false = 1

In [36]:
False = 2

SyntaxError: can't assign to keyword (<ipython-input-36-cb1404aaddbd>, line 1)

In [37]:
largura = 2

In [38]:
altura = 4

In [39]:
area = largura * altura

In [40]:
print(area)

8

In [41]:
perimetro = 2 * largura + 2 * altura

In [42]:
perimetro

12

In [44]:
perimetro = 2 * (largura + 2) * altura

In [45]:
perimetro

32

In [46]:
idade1 = 20

In [47]:
idade2 = 25

In [48]:
idade_total_casal = idade1 + idade2

In [49]:
idade_total_casal

45

In [50]:
idade1 - idade2

-5

In [51]:
idade2 * idade1

500

In [52]:
#Operador de concatenação de strings (sequência de caracteres)

In [53]:
nome = "Clayton"

In [54]:
sobrenome = "Chagas"

In [55]:
fullname = nome + sobrenome

In [56]:
fullname

'ClaytonChagas'

In [57]:
fullname2 = nome + " " + sobrenome